/* table {
   
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    color: darkcyan;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pagination a:hover {
    border-color: #007bff;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
}

.pagination .active a:hover {
    background-color: #0056b3;
} */


/* ----------------------------------------------------------- */


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th{
    background-color: #007bff;
    color: white;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #0056b3;
    color: white;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
