/* * {
    margin: 0;
    padding: 0;
}

.mainheader {
    background-color: rgb(0, 79, 154);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;

} */

/* img { */

    /* width: 350%; */
    /* margin-left: 40px; */

    /* height: 50px; */
    /* margin-right: 40px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */


/* } */

/* .cdn {
    float: right;
}

.btnlogout {
    background-color: rgb(0 79 154);
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
} */

/* -------New------ */

/* .bannerHeader {
    background-color: rgb(0 79 154);
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
}

.bannerHeaderBarChart {
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
    top: -17px;
}

.bannerHeaderBarChart1 {
    background-color: rgb(0 79 154);
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
    position: relative;
 
}

.bannerHeaderBarChartAdmin{
    background-color: rgb(0 79 154);
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
    position: relative;
    top: 14px;
}
.bannerHeaderEmailGenerator{
    background-color: rgb(0 79 154);
    color: white;
    padding: 20px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
    position: relative;
  
}
.bannerHeaderDocumentComparision {
    background-color: rgb(0 79 154);
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: math;
    position: relative;
    bottom: 19px;
}

.branding {
    margin-right: 5px;
    width: 120px;
}

.trademark {
    font-size: 0.8rem;
    vertical-align: super;
}
.brandingFaqYoko{
    position: relative;
    top: 14px;
} */





/* .branding2 {
    font-size: 1.3rem; 
   
     padding-top: inherit;
} */